<% @penguins.each do |penguin| %>
    <p>
    <h3><%= penguin.name %><br></h3>
    <%= penguin.color %><br>
    <br>
    <%= penguin.headwear %><br>
    <br>
    <%= penguin.clothing %><br>
    </p>
<% end %>