<h1>Signup</h1>

<%= "Username and Password cannot be blank" if @user && @user.errors.any? %>
<form action="/users" method="POST">
    <p>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    </p>

    <input type="submit" value="Submit">
</form>